<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="sidebar">
        <h3>Admin Dashboard</h3>
        <a style="color: #fff;" href="{{ url_for('admin_dashboard') }}">Projects</a>
        <a style="color: #fff;" href="{{ url_for('add_project') }}">Add Project</a>
        <a style="color: #fff;" href="{{ url_for('index') }}">Site</a>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>